[llm]
api_key = "YOUR_API_KEY"
base_url = "https://api.openai.com/v1"
model = "gpt-4o-mini"
max_tokens = 2048
temperature = 0.2

[agent]
use_tool_man = true
use_tool_help = true
use_tool_tldr = true
use_tool_thefuck = true
use_tool_dangerous_help = true
cache = true
language = "zh-CN"

[agent.cmd]
output_n = 3
wait_for_output_scrolling = false
